/* I HATE THS COMENTS I HATE .CSS AND .HTML COMENTS*/

/*link handler*/
a:link {
    color: rgb(7, 0, 105);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(4, 0, 105);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(38, 0, 255);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(38, 0, 255);
    background-color: transparent;
    text-decoration: underline;
}

.linkbar a:link {
    color: rgb(145, 145, 145);
    background-color: transparent;
    text-decoration: none;
}
.linkbar a:visited {
    color: rgb(145, 145, 145);
    background-color: transparent;
    text-decoration: none;
}
.linkbar a:hover {
    color: rgb(145, 145, 145);
    background-color: transparent;
    text-decoration: underline;
}
.linkbar a:active {
    color: rgb(145, 145, 145);
    background-color: transparent;
    text-decoration: underline;
}

/*end of links handler*/

hr {
    width:90%;height:1px;
    border-width:0;
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

footer { 
    background-color: #242424; 
    color: #fff; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 

.header {
    text-align: center; 
    padding: 2px;
    background: #40434E;
    margin-right: 150px; 
    margin-left: 150px;
    word-wrap: break-word; /* break world if too long*/
    overflow-wrap: break-word; /* break world */
}

.header h1 {
    font-size: 40px;
}

/* link bar */
.linkbar {
    overflow: hidden;
    background-color: #282828;
    margin-right: 150px; 
    margin-left: 150px;
}

/* also link bar */
.linkbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.linkbar a.right { /* should put link oin the right*/
    float: right;
}

.linkbar a:hover {
    background-color: #4d4d4d;
    color: black;
}

/* end of links hanlder */

body {
    background-color: #525252;
}

* {
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.nah {
    content: "";
    padding: 20px;
}

.side {
    background-color: #727272;
    padding: 10px 20px;
    margin-top: 20;
    margin-right: 230px; 
    margin-left: 230px;
    border: 1px solid rgb(145, 145, 145); 
    word-wrap: break-word; /* break world if too long*/
    overflow-wrap: break-word; /* break world */
}

.side2 {
    background-color: #727272;
    padding: 10px 20px;
    margin-top: 20;
    margin-right: 230px; 
    margin-left: 230px;
    border: 1px solid rgb(145, 145, 145); 
    word-wrap: break-word; /* break world if too long*/
    overflow-wrap: break-word; /* break world */
}


.side h2 {
    text-align: center;
}

.side h3 {
    text-align: center;
}

.side p {
    text-align: center;
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px; 
}

.side2 p {
    text-align: left;
    font-size: 18px;
    margin-right: 30px; 
}

/* experymental + i hate myself ;-; */
/* this works idk i leve this alone*/
.iframe-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%; /* Szerokość bazowa kontenera iframe */
}
/* this also*/
.iframe-container iframe {
    transform: scale(1); /* Skalowanie do 80% */
    transform-origin:center; /* Ustawienie punktu początkowego skalowania */
    width: 552px; /* Oryginalna szerokość iframe */
    height: 167px; /* Oryginalna wysokość iframe */
    border: none;
    display: block;
    margin: auto; /* Centrowanie iframe */
}


.container {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: left;
}

.code-container {
    text-align: left;
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

pre {
    margin: 0;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
}